html, body {
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header, footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkred;
    color: white;
}
#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}
#content .scrollable {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}