<form action="/form" method="post">
    <div class="row g-3 align-items-center">
        <label for="firstname" class="form-label">Prénom</label>
    </div>
    <div class="col-auto">
        <input type="text" id="firstname" name="firstname" class="form-control">
    </div>
    <div class="col-auto">
        <label for="lastname" class="form-label">Nom</label>
    </div>
    <div class="col-auto">
        <input type="text" id="lastname" name="lastname" class="form-control">
    </div>
    <div class="col-auto">
        <button type="submit" name="button" value="bouton_01" class="btn btn-primary">
            Submit
        </button>
    </div>
</form>