<div class="headband"> > Accueil </div>
<div class="scrollable">
    <h1> Liste des données GET reçues :
        <li>Jour :<%- query.day %></li>
        <li>Mois :<%- query.month %></li>
        <li>Annee:<%- query.year %></li>
    </h1>
</div>
