<% for(let i = 0; i < jokeJS.length; i ++) { %>
        <div class="joke">
            <% let path = "/random/" + i%>
            <a href="<%-path%>">
                <%- jokeJS[i].joke; %>
            </a>
        </div>
<% } %>
