<div class="headband"> > Accueil </div>
<div class="scrollable">
    <h1> Vous avez demandé les infos sur l'utilisateur :
        <% if(id_value == undefined) id_value = 0;%>
        <%- id_value %>

    </h1>
</div>
