<div class="LoginBackground"></div>
<div class="scrollable">
    <h1> LOGIN </h1>
    <form method="post" action="/form" class="magic-card" id="login-form">
        <legend style="text-align: center">Please Login</legend>
        <div class="form-group">

            <input type="text" name="username" placeholder="username" value="">


            <input type="password" name="password" placeholder="password">

        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>

    </form>
</div>
