<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Super Site EJS</title>
    <!-- Reference fichier statique CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ceci est ma premiere  page EJS !!!</h1>
    <p>Bonjour
        <% if (typeof sexe !== 'undefined') { %> <!-- Si on connait le SEXE -->
            <% if (typeof nickname !== 'undefined') {%> <!-- Si on connait le Nickname et le SEXE-->
            <% if (sexe == "femme") { %> <!-- FEMME -->
                Mme
            <% } else if (sexe == 'homme') { %> <!-- HOMME -->
                Mr
            <% } %>
            <%= nickname %>
            <% } else { %>
                <% if (sexe == 'femme') { %> <!-- FEMME -->
                    belle inconnue
                <% } else if (sexe == 'homme') { %> <!-- HOMME -->
                    bel inconnu
            <% } else { %>
                    bel(le) inconnu(e)
            <% }} %>
        <% } else { %> <!-- Si on ne connait pas le sexe -->
            <% if (typeof nickname !== 'undefined') {%> <!-- Si on connait le Nickname mais pas le SEXE-->
                <%= nickname %>
            <% } else {%> <!-- Si on ne connait ni le SEXE ni le Nickname -->
                bel(le) inconnu(e)
            <% } %>
        <% } %>

    </p> <!-- -->
</body>
</html>