<header>
    <div id="mark">Mark III</div>
    <div id="main-title">Jarvis Interface</div>
    <div id="log-button">

        <a class="btn btn-secondary" href="/form">
            <button class="btn btn-primary">
                LOGIN
            </button>
        </a>

    </div>
</header>